# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*.asv
*.bmp
*.png
*.aifc
*.aiff
*.aif
*.au
*.flac
*.ogg
*.opus
*.wav
*.mp3
*.m4a
*.mp4
testing*